@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 0%;
  --card: 0 0% 100%;
  --card-foreground: 240 10% 3.9%;
  --popover: 331,78%,37%;
  --popover-foreground: 0 0% 100%;
  --primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 240 4.8% 95.9%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --popover: 35,100%,59%;
  --popover-foreground: 0 0% 100%;
  --primary: 0 0% 98%;
  --primary-foreground: 240 5.9% 10%;
  --secondary: 240 3.7% 15.9%;
  --secondary-foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 85.7% 97.3%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --ring: 240 4.9% 83.9%;
}

/*
.dark\:bg-slate-800 {
  @media (prefers-color-scheme: dark) {
    background-color: var(--color-slate-800, #1e293b);
  }
} */

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* .dark,
[data-theme="dark"] {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 0, 0, 0;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
} */

body {
  /* color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)) */

}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }

} */

/* .max-width-nav {
  max-width: calc(1536px - 64px)
}
.pl-nav-title {
  padding-left: max(32px, calc((100% - (1536px - 64px)) / 2))
} */


/* ['max-width-nav', { 'max-width': 'calc(1536px - 64px)' }],
['pl-nav-title', { 'padding-left': 'max(32px,calc((100% - (1536px - 64px)) / 2))' }],
['height-nav-title', { height: 'calc(64px - 1px)' }],
['width-top-nav', { width: 'calc((100% - (1536px - 64px)) / 2 + 288px - 32px)' }],
['pr-top-content', { 'padding-right': 'calc((100vw - 1536px) / 2 + 32px)' }],
['pl-top-content', { 'padding-left': 'calc((100vw - 1536px) / 2 + 288px)' }],
['pr-main-content', { 'padding-right': 'calc((100vw - 1536px) / 2)' }],
['width-side-bar', { width: 'calc(100vw - 64px)' }],
['width-side-group', { width: 'calc(288px - 64px)' }],
['height-side-content', { height: 'calc(100vh - 64px - 32px)' }],
['transition-side-bar', { transition: 'opacity .5s,transform .25s ease' }],
['box-shadow-mobile', { 'box-shadow': 'rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgba(0, 0, 0, 0.1) 0px 0px 10px 0px' }], */
