@import url('./vars.css');
@import url('./base.css');
@import url('./algolia.css');



.nant-mdx table {
  display: block;
  border-collapse: collapse;
  margin: 20px 0;
  overflow-x: auto;
}
.nant-mdx table tr {
  border-top: 1px solid var(--nt-color-divider);
}
.nant-mdx table tr:nth-child(2n) {
  background-color: var(--nt-color-bg-soft);
}
.nant-mdx table th,
.nant-mdx table td {
  border: 1px solid var(--nt-color-divider);
  padding: 8px 16px;
  text-align: center;
}
.nant-mdx table th {
  font-size: 16px;
  font-weight: 600;
  background-color: var(--nt-color-bg-soft);
}
.nant-mdx table th:first-child,
.nant-mdx table tr td:first-child {
  text-align: left;
}
.nant-mdx table th:last-child,
.nant-mdx table tr td:last-child {
  text-align: right;
}

.nant-home-title {
  -webkit-text-fill-color: #0000;
}



.sandpack .sp-wrapper {
  color-scheme: inherit;
  font-size: var(--sp-font-size);
  font-family: var(--sp-font-mono);
}
.sandpack .sp-layout {
  border: 0;
}
.sandpack .sp-stack {
  height: 100%;
}
.sandpack .sp-preview-container {
  border-radius: 4px;
}
.sandpack .cm-gutter.cm-lineNumbers {
  font-size: 13px;
}


/* mobile */
.mobile-box {
  overflow: scroll;
  -ms-overflow-style: none; /* IE, Edge 対応 */
  scrollbar-width: none; /* Firefox 対応 */
}
.mobile-box::-webkit-scrollbar {
  display: none;
}
